.vscode/**
.vscode-test/**
src/**
out/test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/assets/logo.psd 
**/esbuild.js
**/extension-workspace/